
name: CI
on:
  push:
    branches: ["deployfast/auto-docker-ci"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker
        run: docker build -t app .
